{% extends 'admin/layout.html.twig' %}

{% block title %}Users list{% endblock %}

{% block heading %}
    <h1 class="display-4">{{ 'Users list'|trans({},'app') }}</h1>
    <hr>
{% endblock %}

{% block main %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>{{ 'Name'|trans({},'app') }}</th>
                <th>{{ 'Email'|trans({},'app') }}</th>
                <th>{{ 'Roles'|trans({},'app') }}</th>
                <th class="text-right">{{ 'Actions'|trans({},'app') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
                {% if 'ROLE_SUPER_ADMIN' not in user.roles %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                <span class="badge badge-nestor">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td class="text-right">
                            <a href="{{ path('admin_users_detail', {id: user.id}) }}" class="btn btn-sm btn-secondary">
                                <i class="far fa-eye"></i>
                            </a>
                            {% if is_granted('ROLE_SUPER_ADMIN') or 'ROLE_ADMIN' not in user.roles %}
                                <button
                                    type="button"
                                    class="btn btn-sm btn-danger"
                                    data-toggle="modal"
                                    data-target="#confirm_modal"
                                    data-url="{{ path('admin_users_delete', {id: user.id}) }}"
                                    data-action="delete user {{ user.name }}"
                                >
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">
                        <i class="fas fa-user-slash"></i> {{ 'No user found'|trans({},'app') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modals %}
    {{ include('global/includes/confirm_modal.html.twig') }}
{% endblock %}
